* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

body {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0 , 0, 0, 0.5);
}

li {
    color: unset;
    text-decoration: none;
}
  
nav{
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 40px 150px 0 140px;
    flex-wrap: wrap;
}

nav .logo{
    margin-left: -40px;
  }

  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    
  }

  nav ul li{
    margin: 0px 1px;
  }

  nav ul li a{
    color: gray;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 26px;
    font-weight: 500;
    padding: 8px 10px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }

  .btn{
    background-color: blue;
    color: #fff;
    padding: 12px 3px 13px 3px; 
    border-radius: 9px;
  }

  .btn-color{
      color: #fff;
}
 /* **************************************** HOME-PAGE-STYLE ************************************ */
  
  .search-bar{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 60px -760px 0 0;
}

.search-bar input {
    font-size: 24px;
    font-weight: 400px;
    
    font-family: 'Lexend Deca', sans-serif; 
    padding: 18px 90px;
    border: solid blue;
    border-radius: 9px;
}

::placeholder{
    color: blue;
}

.home_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home_container1 {
    justify-content: space-between;
    align-items: center;
    margin-left:100px;
}

.home_container1-image img {
    height: 60%;
    width: 50%;
    position: relative;
    left: 150px;
}

.home_container1 h3 {
    font-size: 26px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 0px;
    color: #4166f5;
    line-height: 60px;
}

.home_container1 h1{
    font-size: 55px;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 80px; 
    font-weight: 700px;
}

.home_container1 h4{
    font-family: 'Noto Sans', sans-serif;
    color: gray;
    font-size: 24px;
    line-height: 40px;
    margin-right: 2rem;
}

.home_container1 a{
    background-color: blue;
    border: solid blue;
    color: #fff;
    padding: 12px 3px 13px 3px; 
    border-radius: 1px;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 26px;
    font-weight: 500px;
}

.home_container-line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_container-line p{
    font-family: 'Lexend Deca', sans-serif;
    color: #4166f5;
    font-size: 24px;
    line-height: 20px;
    font-weight: 100px;
    margin: 6rem 1rem 0;
}

.home_container-line img {
    margin-top: 6rem;
    border: solid blue;
    padding: 0.3rem;
    border-radius: 50px;
}

 /* **************************************** SERVICE-PAGE-STYLE ************************************ */
.service_page{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.service_page-headers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 18rem;
  position: relative;
  left: -100px;
}

.service_page-headers h3{
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  font-weight: 600px;
  font-family: 'Lexend Deca', sans-serif;
  margin: 2rem 2rem 2rem;
}

.service_page-headers p{
  text-align: center;
  font-size: 22px;
  font-weight: 400px;
  line-height: 32px;
  font-family: 'Lexend Deca', sans-serif;
  color: gray;

}
.service_page-image{
  margin-left: -11rem;
}

.service_page2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3rem 6rem;
}

.service_page2-container{
  margin: 2rem;
}
.service_page2-container h4{
  font-size: 24px;
  line-height: 27px;
  font-weight: 100px;
  font-family: 'Lexend Deca', sans-serif;
  margin: 1rem 0;

}
.service_page2-container p{
  font-size: 18px;
  font-family: 'Lexend Deca', sans-serif;
  line-height: 28px;
  color: gray;
  font-weight: 100px;
  margin-top: 1rem 0;
}
.service_page2-container a{
  text-decoration: none;
  font-size: 26px;
  color: goldenrod;
  font-family: 'Lexend Deca', sans-serif;
}

.service_page3{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.service_page3-container{
  margin: 5rem 9rem;
}

.service_page3-container2{
  border: 3px solid blue;
  margin-top: 6rem;
  border-radius: 10px;
  padding: 3rem;
}

.service_page3-container3{
  border: 3px solid blue;
  margin-top: 8rem;
  border-radius: 10px;
  padding: 3rem;
}


 .service_page3-container1 p{
   font-size: 20px;
   line-height: 36px;
   color: gray;
   font-family: 'Lexend Deca', sans-serif;
}

   .service_page3-container2 p{
    font-size: 20px;
    line-height: 36px;
    color: gray;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 1rem;
    }

    .service_page3-container3 p{
      font-size: 20px;
      line-height: 36px;
      color: gray;
      font-family: 'Lexend Deca', sans-serif;
      margin-bottom: 1rem;
    }

   .service_page3-container1 a{
     text-decoration: none;
     font-size: 22px;
     font-weight: 400px;
     color: #4166f5;
     font-family: 'Lexend Deca', sans-serif;
    }

   .service_page3-container2 a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 400px;
    color: #4166f5;
    font-family: 'Lexend Deca', sans-serif;
  }

  .service_page3-container3 a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 400px;
    color: #4166f5;
    font-family: 'Lexend Deca', sans-serif;
  }

  .service_page3-container2 h4{
    font-size: 26px;
    font-weight: 700px;
    line-height: 30px;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 2rem;
  }

  .service_page3-container3 h4{
    font-size: 26px;
    font-weight: 700px;
    line-height: 30px;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 2rem;
  }

  .service_page3-container2 img{
    margin-left: -2rem;
  }

  .service_page3-container3 img{
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  .service_page3-footer {
    margin: 5rem 8rem;
  }
  .service_page-footer2{
    border: 3px solid blue;
    margin-top: 6rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    padding: 3rem;
  }
  
  .service_page-footer1{
    border: 3px solid blue;
    border-radius: 10px;
    padding: 4rem;
  }
  
  .service_page-footer1 p{
     font-size: 20px;
     line-height: 36px;
     color: gray;
     margin-bottom: 1rem;
     font-family: 'Lexend Deca', sans-serif;
  }
  
  .service_page-footer2 p{
      font-size: 20px;
      line-height: 36px;
      color: gray;
      font-family: 'Lexend Deca', sans-serif;
      margin-bottom: 1rem;
  }
  
    .service_page-footer3 p{
        font-size: 20px;
        line-height: 36px;
        color: gray;
        font-family: 'Lexend Deca', sans-serif;
        margin-bottom: 1rem;
      }
  
     .service_page-footer1 a{
       text-decoration: none;
       font-size: 22px;
       font-weight: 400px;
       color: #4166f5;
       font-family: 'Lexend Deca', sans-serif;
     }
  
     .service_page-footer2 a{
      text-decoration: none;
      font-size: 22px;
      font-weight: 400px;
      color: #4166f5;
      font-family: 'Lexend Deca', sans-serif;
    }
  
    .service_page-footer3 a{
      text-decoration: none;
      font-size: 22px;
      font-weight: 400px;
      color: #4166f5;
      font-family: 'Lexend Deca', sans-serif;
    }
  
     .service_page-footer1 h4{
       font-size: 26px;
       font-weight: 700px;
       line-height: 30px;
       font-family: 'Lexend Deca', sans-serif;
       margin-bottom: 2rem;
     }
  
     .service_page-footer2 h4{
      font-size: 26px;
      font-weight: 700px;
      line-height: 36px;
      font-family: 'Lexend Deca', sans-serif;
      margin-bottom: 2rem;
    }
    .service_page-footer1 img{
      margin-left: 2rem;
      margin-bottom: 2rem;
    }
  
    .service_page-footer2 img{
      margin-left: 2rem;
      margin-bottom: 2rem;
    }

/*  ***************************************** PRICING-PAGE-STYLE ************************************ */
    .pricing_page{
      margin-bottom: 2rem;
    }

  .pricing_page-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 8rem;
    }
    .pricing_page-container1{
      margin: 0 0 0 2rem;
    }
    
  .pricing_page-header h2{
      margin: 0 20rem;
      text-align: center;
      font-size: 30px;
      font-weight: 600px;
      line-height: 46px;
      font-family: 'Lexend Deca', sans-serif;
      letter-spacing: 0.4px;
    }

    .pricing_page-container1 h4{
      font-size: 24px;
      font-weight: 300px;
      margin:  1rem 0;
      color: blue;
      font-family: 'Lexend Deca', sans-serif;
    }
    .pricing_page-container1 h5{
      font-family: 'Lexend Deca', sans-serif;
      font-size: 20px;
      color: gray;
      margin:  1rem 0;
    }
    .pricing_page-container1 span{
      color: blue;
      font-size: larger;
    }
    .pricing_page-container1 h6{
      color: blue;
      font-size: 18px;
      font-family: 'Lexend Deca', sans-serif;
      line-height: 32px;
      margin:  1rem 0;
    }
    .pricing_page-container3 ,
    .pricing_page2-container3{
      display: flex;
      align-items: center;
    }

  .pricing_page-container3 p {
      margin: 1rem;
      color: blue;
      font-size: 18px;
      font-weight: 500px;
    }
   
    .pricing_button a{
      text-decoration: none;
      font-size: 22px;
      font-weight: 700px;
      color: blue;
      border-radius: 10px;
      border: solid blue;
      padding:  1rem 7rem;
    }
    .pricing_button{
      margin-top: 2rem;
    }
    .pricing_button2{
      margin-top: 2rem;
    }
    .pricing_button2 a{
      text-decoration: none;
      background: #fff;
      font-size: 22px;
      font-weight: 700px;
      color: blue;
      border-radius: 10px;
      border: solid #fff;
      padding:  1rem 7rem;
    }

    .pricing_page2-container1{
      background: #4166f5;
      padding: 2rem;
      border-radius: 10px;
      margin-right: 3rem;
    }
    .pricing_page2-container1 h4{
      font-size: 24px;
     
      font-weight: 300px;
      margin:  1rem 0;
      color: white;
      font-family: 'Lexend Deca', sans-serif;
    }
    .pricing_page2-container1 h5{
      font-family: 'Lexend Deca', sans-serif;
     
      font-size: 20px;
      color: white;
      margin:  1rem 0;
    }
    .pricing_page2-container1 span{
      color: white;
      font-size: larger;
    }

    .pricing_page2-container1 h6{
      color: #fff;
      font-size: 18px;
      font-family: 'Lexend Deca', sans-serif;
      line-height: 32px;
      margin:  1rem 0;
    }
    .pricing_page2-container3 p {
      margin: 1rem;
      color: #fff;
      font-size: 18px;
      font-weight: 500px;
    }
    .pricing_page2-container3 img{
      border: solid #fff;
      background-color: #fff;
      border-radius: 25px;
    }

 /* **************************************** ABOUT-PAGE-STYLE ************************************ */
    .about_page{
      display: flex;
      justify-content: center;
      align-items: center;
     margin: 0 7rem;
    }
    .about_page-container1{
      margin: 0 1rem;
      margin-right: 12rem;
     }

    .about_page-heading1 h3{
      font-size: 22px;
      line-height: 32px;
      font-family: 'Lexend Deca', sans-serif;
      font-weight: 400px;
      margin-bottom: 1rem;
      margin: 0 18rem;
      margin-left: 2rem;
      }

    .about_page-heading_title-img {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 2rem 0;
    }
    .about_page-heading_title-img img{
      border: solid blue;
      padding: 1rem;
      margin-left: 1.5rem;
    }
    .about_page-heading_title-img h4{
      font-size: 18px;
      line-height: 27px;
      margin: 0 0 0 0.5rem;
      font-family: 'Lexend Deca', sans-serif;
      margin-right: 19rem;
    }
    .about_page-heading_title-img1{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 2rem 0;
    }
    .about_page-heading_title-img1 img{
      margin-left: 1.5rem;
    }
    .about_page-heading_title-img1 h6{
      font-size: 18px;
      line-height: 27px;
      margin-left: 5rem;
      font-family: 'Lexend Deca', sans-serif;
    }
    .about_page-heading_title-img1 p{
      font-size: 18px;
      line-height: 27px;
      color: gray;
      text-decoration: none;
      font-family: 'Lexend Deca', sans-serif;
      margin: 0 19rem;
      margin-left: 5rem;
    }

    .about_page-container2{
      margin-right: 5rem;
      margin-bottom: 8rem;
    }
    .about_page-heading-bar h3{
      
      font-size: 22px;
      line-height: 32px;
      font-family: 'Lexend Deca', sans-serif;
      font-weight: 400px;
    }
    .about_page-part h6 {
      font-size: 18px;
      line-height: 27px;
      margin: 1.5rem 0;
      font-family: 'Lexend Deca', sans-serif;
    }
    .about_page-part p{
      font-size: 18px;
      line-height: 27px;
      color: gray;
      font-family: 'Lexend Deca', sans-serif;
    }
    .about_page-input{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 2rem;
    }
    .about_page-input input {
      padding: 1.4rem 4rem;
      background: wheat;
      border: solid wheat;
      font-size: 14px;
    }
      .about_page-icons img {
        margin: 0 1rem;
        margin-top: 2rem;
    }
      .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4rem;
      }
      .footer p{
        font-size: 22px;
        color: grey;
        font-family:'Lexend Deca', sans-serif; 
        font-weight: 500px;
      }

  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
  }

  nav .menu-btn i{
    color: #111;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }

  input[type="checkbox"]{
    display: none;
  }

 /* **************************************** RESPONSIVE-SCREEN-STYLE ************************************ */

  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }

  @media screen and (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 62vh;
      width: 40%;
      text-align: center;
      display: block;
      transition: all 0.4s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: rgb(240, 154, 25);
    }

    .btn{
      padding: 1rem;
    }
    .search-bar{
      margin: 4px 60px;
    }
    .search-bar input{
      font-size: 20px;
      padding: 10px 40px;
    
    }

    .home_container1{
      display: flex;
      flex-direction: column;
      margin: 5px -3px 0 30px;
      }

     .home_container1 h1{
      font-size: 30px;
      line-height: 43px;
      
      }
    .home_container1 h3{
      font-size: 16px;
      line-height: 24px;
      margin-right: 175px;
    }

    .home_container1 h4{
      font-size: 13px;
      line-height: 18px;
    }

    .home_container1 a{
      font-size: 16px;
      line-height: 20px;
      padding: 10px 48px;
      margin: 1rem 1rem 1rem 0 ;
    }
   
    .home_container-line{
      display: flex;
      flex-direction: column;
    }
    .home_container-line p{
      font-size: 17px;
      line-height: 22px;
      margin-top: 3rem;
      text-align: center;
    }
    .home_container-line img {
      margin-top: 0.6rem;
    }
    .service_page-image{
      display: none;
    }

    .service_page-headers{
      margin: 0 1rem;
      position: relative;
      left: 0;
    }

    .service_page-headers h3{
      font-size:20px;
      line-height: 25px;
    }
    .service_page-headers p{
      font-size: 15px;
      line-height: 28px;
      text-align: center;
    }

    .service_page2{
      flex-direction: column;
      margin: 0 1rem;
      
    }
    .service_page2-container{
      margin: 1rem 1rem;
      align-items: center;
      justify-content: center;
    }

    .service_page2-container h4 {
      text-align: center;
      margin: 1rem 0;
    }
    .service_page2-container p{
      text-align: center;
      margin: 1rem 0;
      font-size: 17px;
      line-height: 28px;
    }
    .service_page2-container img{
      margin-left: 7.5rem;
    }
    .service_page2-container a{
      margin-left: 5rem;
      margin-top: 1rem;
    }
    
    .service_page3{
      flex-direction: column;
  }

    .service_page3-container{
      margin: 2rem ;
    }
    .service_page3-container1 p{
      font-size: 19px;
      line-height: 28px;
      text-align: center;
      margin: 1rem;
    }
    .service_page3-container1 a {
      font-size: 20px;
      margin-left: 4.8rem;
    }
    .service_page3-container2{
      margin-top: 3rem;
      padding: 2rem;
    }
    .service_page3-container3{
      display: none;
    }

    .service_page3-footer{
      margin: 2rem;
    }
    .service_page-footer1 {
      padding:  1rem 3rem;
      margin-bottom: 2rem;
    }
    .service_page-footer2{
      display: none;
    }
    .service_page-footer3 p{
      font-size: 19px;
      line-height: 28px;
      text-align: center;
      margin: 1rem;
    }
    .service_page-footer3 a {
        font-size: 20px;
        margin-left: 3rem;
    }
    .pricing_page-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    .pricing_page-container{
      margin-top: 4rem;
    }
    .pricing_page-header{
      display: none;
    }

    .pricing_page-container1{
      display: none;
    }
    .pricing_page2-container1{
      margin: 0 3rem  ;
      margin-bottom: 1rem;
      padding: 0 1rem;
    }

    .about_page-container1{
      display: none;
    }
      .about_page-container2{
        margin: 0 5rem;
        margin-bottom: 2rem;
        margin-top: -3rem;
      }
    .about_page-heading-bar h3{
      font-size: 20px;
      line-height: 32px;
      text-align: center;
      margin: 1rem 1rem 3rem 1rem;
    }
    .about_page-part h6 , p {
      margin: 1rem 2rem;
    }
    .about_page-input input{
      padding: 1.4rem 3rem;
    }
    .about_page-icons{
      margin-left: 1.5rem;
    }

    .footer p{
      font-size: 17px;
      margin: 0 -2rem;
    }
    
} 

 /* **************************************** THE-END ************************************ */


    
        

    



